tmp/mod_dwt.wav
tmp/modified.wav
tmp/orig_dwt.wav
tmp/original.wav
results
results/recording-mikrofon-der-affe-ist-gut.wav
results/recording-mikrofon-flute.wav
results/recording-mikrofon-ISP-leicht-gemacht.wav
results/recording-soundkarte-der-affe-ist-gut.wav
results/watermarked-der-affe-ist-gut.wav
results/watermarked-flute.wav
results/watermarked-ISP-leicht-gemacht.wav
results/watermarked-mp3-der-affe-ist-gut.mp3
results/watermarked-mp3-flute.mp3
results/watermarked-mp3-ISP-leicht-gemacht.mp3
tmp
tmp/eaqual-output.txt
