out/*.aux
out/*.sty
out/*.log
out/*.ps
out/*.dim
out/*.dimx
out/*.dvi
out/*.final.tex
out/*.mdk
out/*.json
out/*.glo
out/*.idx
out/*.ist
out/*.nlo
out/*.acn
out/*.bib
out/*.glsdefs
out/*-plain.tex
out/*-full.tex
out/*-full.pdf
out/math/
out/img/